<div class="period-selector">
    <button @onclick="SubtractWeek">-</button>
    <div>@FromDate.ToString(DateFormat) - @ToDate.ToString(DateFormat)</div>
    <button @onclick="AddWeek">+</button>
</div>